*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)), url(analysis-strategy-study-information-business-planning.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}
.navbar{
    width: 100%;
    height: 10vh;
    background-color:black;  
    align-items: center;
   display: flex;
   z-index: 2;
  justify-content: space-around;
  position:sticky;
  
  
}

.logo{
    color:orangered;
    font-weight: bolder;
    font-size: 35px;
   line-height: 2px;
   letter-spacing: 2px;
    font-family:'poppins';
}

ul{
   display: flex;
   justify-content: center;

}
ul li{
    list-style: none;
    
}
ul li a{
   
    text-decoration: none;
    margin: 30px;
    color:wheat;
    font-family: sans-serif;
    font-size: 16px;
    font-weight:normal;
    position: relative;
    
}

ul li a:hover{
    color:whitesmoke;
    
}
ul li a::after{
    content:" ";
    bottom: 0;
    left: 0;
    width: 0;
    position: absolute;
    height: 2px;
    background:whitesmoke;
    border-radius: .1rem;
    transition: .3s;
}
ul li a:hover::after{
    width: 100%;
}
.content{
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.social-media a{
    margin-right: 25px;

}

p{
    position: absolute;
    top: 25%;
    left: 12%;
    font-size: 25px;
    font-family:'roboto';
    text-align: center;
    font-weight: bold;
    color:antiquewhite;
}


.btn{
    width: 110px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 15%;
    padding: 14px 20px auto;
    background-color:white;
    color:black;
    border:solid orangered 1px;
    
    font-size: 14px;
    font-family: sans-serif;
    
}
.btn:hover{
    background-color: orangered;
    color: whitesmoke;
    transition: .5s;
    border: none;
}

.photo{
    width: 300px;
    height: 450px;
    background-image: url(myImg.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 3%;
    border: solid orangered .1rem;
    border-radius: 500rem;
    right: 15%;
}
.photo:hover{
    transform: translateX(-10px);
    transition: .5s;
}

.typedText{
    color:orangered;
    font-size: 30px;
    font-family:'poppins';
    font-weight: bold;
}
@media screen and (max-width:770px){
    .content{
        flex-wrap: wrap;
        position: relative;
        height: 100%;
        width: 100;
        align-items: center;
        justify-content: center;
        
    }
    .photo{
       height:300px;
       width:200px;
       border: none;
       border-radius: 0;
       position: absolute;
       top: 3%;
       left: 27%;
       border: solid white 2px;
    
    }
    p{
    
        position: absolute;
        top: 60%;
        left: 15%;
    }
    .btn{
        position: absolute;
        top: 80%;
        left: 35%;
    }
}
@media screen and (max-width:593.33px) {
    
    .logo{
        position: absolute;
        left: 5%;
    }
    ul li{
        display: none;
    }
    
}
#about{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color:rgb(53, 53, 53) ;
    padding: 20px;
    position: relative;    
    margin-bottom: 30px;  
}

h1{
    text-align: center;
    right: 50%;
    letter-spacing: 1px;
    font-family: 'poppins';
    color:antiquewhite;
    margin: 10px;
      
}
.about-img{
    position: absolute;
    top: 15%;
    left: 10%;
    height: 70%;
    width: 25%;
 border-radius: 100%;
 background-image: url(myImage.JPG);
 background-size: cover;
 
 background-position: center;
}
span{
    color: orangered;
    font-size: 30px;
    font-family:sans-serif;
}
p1{
    position: absolute;
    text-align: center;
    font-family: 'poppins';
    font-weight: normal;
    color:antiquewhite;
    margin: 50px;
    left: 35%;
    height: 50%;
    width: 50%;
    
    padding: 40px;
    box-shadow: 0 5px 5px grey;
    letter-spacing: 1px;
    justify-content: center;
    background-color:black;
    
}

.more{
position:absolute;
top: 60%;
right: 42%;
}
#Skills{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(homepage-seen-laptop-screen.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        padding: 20px; 
        justify-content: center;
        flex-basis: 48%;
        margin-bottom: 30px;
        
    }
   
  p2{
    position: absolute;
    top: 20%;
    left: 30%;
    right: 20%;
    color: whitesmoke;
    font-weight: bold;
    font-size: 24px;

  } 
 ol{
    color:antiquewhite;
    position: absolute;
    top: 27%;
    left: 45%;
    display: inline-block;

  }
  ol li{
    margin: 15px;
    font-family: sans-serif;
    font-size: 20px;
    
    cursor: pointer;
    text-shadow: 0 10px 10px grey;
  }
  ol li:hover{
    color: orangered;
    transition: .5s;
  }

  #Projects{
    height: 100vh;
    width: 100%;
    background-color:rgb(53, 53, 53);
    margin-bottom: 30px;
    position: relative;

  } 
.projects{
    flex-wrap: wrap;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;  
    display: flex;
    position: absolute;
    top: 20%;
    
    justify-content: center;
     
}




#Contact{
    width: 100%;
    height: 100vh;
    background-color:rgb(53, 53, 53);
    
}
#Contact form{
max-width:70rem ;
margin: 1rem auto;
text-align: center;
margin-bottom: 3rem;
}
#Contact form.input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#Contact form .input-box input,
#Contact form textarea{
    width: 70%;
    padding: .8rem;
    font-size: .8rem;
    color:darkblue;
    background-color:rgb(245, 242, 237);
    border-radius: .8rem;
    margin: .7rem 2rem;
    
}

#Contact form .input-box input{
    width: 49%;
}
#Contact form textarea{
    resize: none;
}
.Contact-btn{
    width: 110px;
    height: 40px;
   
    padding: 14px 20px auto;
    background-color:whitesmoke;
    color:black;
    border:none;
    font-size: 12px;
    font-family: sans-serif;
    
    
}
.Contact-btn:hover{
    background-color: orangered;
    transition: .5s;
    color:whitesmoke;
}